
html {
	margin: 20px;
	padding: 40px;
	
	}
body { 
	font: 90% 'Raleway',sans-serif;
	line-height: 2;
	color: #555753; 
	background: url(zold_02.png); 
	margin: 10; 
	padding: 10;
	display: block;
	}
p { 
	margin-top: 20; 
	text-align: justify;
	display: block;
	}
h3 { 
	font: 30px 'Raleway',sans-serif;;
	letter-spacing: 2px; 
	margin-bottom: 0;
	color: 	#383838;
	text-transform: uppercase;

	}
a:link { 
	font-weight: bold; 
	text-decoration: underline; 
	color: 	#181818;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555753;;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #383838;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 80%;
	margin-bottom: 80px;
	margin-top: 50px;
	}

header h1 { 
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
	}
header h2 { 
	background: transparent url(zold.png) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.bigTitle {
	display: block;
	font: bold;
	color: white-space black;
	font-family: 'Raleway',sans-serif;
	font-size: 100px;
	font-weight: 800;
	line-height: 72px; 
	text-align: left;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 50px;
	height: 50px;
	position: relative;
 }
	

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font-family: 'Raleway',sans-serif;
	text-align: left;
	text-transform: capitalize;
	text-shadow: 5px 5px 3px 	rgb(120,120,120);
	}

.preamble {
	clear: right; 
	padding: 11px 10px 0 10px;
	}


.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: left; 
	}
footer a:link, footer a:visited { 
	margin-right: 10px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	right: 0;
	bottom: 720px;
	}

.sidebar .wrapper { 
	border: 3px solid #706F68;
	padding: 1px;
	font-family: 'Raleway',sans-serif;
	width: 200px; 
	height: 550px;
	
	}
.sidebar h3.select { 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}

.sidebar ul {
	margin: 20;
	padding: 10;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 10px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: 	#555753; 
	text-shadow: 5px 5px 3px 	rgb(120,120,120);
	text-decoration: none;
	}
.sidebar li a:visited {
	color: 	#555753;
	text-shadow: 5px 5px 3px 	rgb(120,120,120);
	text-decoration: none;
	display: block
	}

.extra1 {
	display: block;
	position: absolute;
	background: transparent url(garden.gif) top left no-repeat; 
	position: absolute; 
	top: 90px; 
	right: 0; 
	width: 603px; 
	height: 300px;
	
	}